<main class="main-content">
    <div class="content">
        <div class="body-header">
            <header>
                <h1><span class="trn">College Semesters</span></h1>
            </header>
            <hr>
        </div>
        <div class="body-content">

            <div>
                <p id="informUserMsg"></p>
            </div>
            <div>
                {{#if hasError}}
                    <h5 style="color: red"> {{errMsg}} </h5>
                    {{else}}
                    <h5>  {{successMsg}}</h5>
                {{/if}}
            </div>
            <div class="mb-3">

                <label for="formGroupExampleInput" class="form-label">Current Semester</label>
                <table>
                    <th>
                        Start Date:
                    </th>
                    <td>
                        <input  class="form-control" name="startDate" id="startDate" readonly disabled></td>
                    </td>
                    <th>
                        End Date:
                    </th>
                    <td>
                        <input  class="form-control" name="endDate" id="endDate" readonly disabled></td>
                    </td>
                    <th>
                        Period
                    </th>
                    <td>
                        <input  class="form-control" name="period" id="period" readonly disabled></td>
                    </td>
                    <th>
                        code
                    </th>
                    <td>
                        <input  class="form-control" name="code" id="code" readonly disabled></td>
                    </td>
                    <th>
                    </th>
                    <td>
                        <button  name="manageMajors" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Edit</button></td>
                </table>

            </div>
            <label for="formGroupExampleInput" class="form-label">Add a New Semester</label>

            <form name="manageSemesters" method="post" action="/advisingUnit/manageSemesters">
                <table>
                    <th>
                     Start Date:
                    </th>
                    <td>
                        <input  class="form-control" name="startDate" id="startDate" type="date" required></td>
                    </td>
                    <th>
                      End Date:
                    </th>
                    <td>
                        <input class="form-control" name="endDate" id="endDate"   type="date" required>
                    </td>
                    <th>
                        Period
                    </th>
                    <td>
                        <select name="period" class="form-select" aria-label="dateSelection" required>
                            <option selected> Period</option>
                            <option value="1">Spring</option>
                            <option value="2">Fall</option>
                            <option value="3">Summer</option>
                        </select>
                    </td>

                    <td>
                        <button  name="addSemester" type="submit" class="btn btn-primary" >Add</button>
                    </td>
                </table>

            </form>
        </div>
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <button  name="manageMajors" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Add/delete</button>
                    <!--                    <button  name="delete" type="button" class="btn btn-danger">Delete</button>-->
                </div>
            </div>
        </div>
    </div>





</main>
