<main class="main-content">
    <div class="content">
        <div class="body-header">
            <header>
                <h1>تسجيل الطلاب في النظام</h1>
            </header>
            <hr>
        </div>
        <div class="body-content">
            
            {{!-- here should go a form to register students --}}
            
        </div>
    </div>
</main>

<aside class="aside-container">
    <div class="aside-content"></div>
</aside>