<main class="main-content">
    <meta charset ='utf-8'> 
    <div class="content">
        <div class="body-header">
            <header>
                <h1><span class="trn">Add students to system</span></h1>
            </header>
            <hr>
        </div>
        <div class="body-content">
            
            <form action="/advisingUnit/registerStudents" method="post" enctype="multipart/form-data">

                <label for="reg_file_students"><span class="trn">Attach student register file (EXCEL):</span></label>
                {{!-- remove after --}}
                <br>

                <input type="file" name="students_register_file">
                {{!-- remove after --}}
                <br>
                <button type="submit"><span class="trn">Add Students</span></button>

            </form>

            
        </div>
    </div>
</main>