<!DOCTYPE html>
<html lang="ar" dir="rtl">
  <head>
    <!-- head start  -->

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>وحدة الإرشاد الأكاديمي</title>
    <link href="/assets/css/general.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js"></script>
    
    {{> externalLibraries}}
    
    <!-- head end  -->
  </head>

  <body>
    {{!-- ====================================================== --}}

     <div class="app">
       
      <!-- header  -->
      {{> header }}
      <!-- /header  -->
      <div  class="content-container">

       <div style="height: 100%;" id="sidebarshort">
             <div class="d-flex flex-column flex-shrink-0 bg-light" style="width: 4.5rem;">
               <a onclick="openNav()" >   <img class="bi me-2" style= "" width="25" height="25"  src="/assets/img/toggle-btn.svg" alt="#"></a>      
     
                </a>
                <hr>
                <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
                  <li class="nav-item">
                      <a href="/advisingUnit" class="nav-link py-3 border-bottom" title="Home" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home" >
                      <img class="bi me-2" style= "" width="30" height="30" src="/assets/img/home.png" alt="#">
                    </a>
                  </li>
                    <li class="nav-item">
                      <a href="/advisingUnit/collegeStudents" class="nav-link py-3 border-bottom" title="collage Students" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="collage Students" >
                      <img class="bi me-2" style= "" width="30" height="30" src="/assets/img/students.png" alt="#">
                    </a>
                    </li>
                    <li class="nav-item">
                    <a href="/advisingUnit/resolveExcuses" class="nav-link py-3 border-bottom" title="resolve Excuses" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="resolve Excuses" >
                      <img class="bi me-2" style= "" width="30" height="30" src="/assets/img/argument.png" alt="#">
                      </a>
                    </li>
                    <li class="nav-item">
                    <a href="/advisingUnit/SolvingComplains" class="nav-link py-3 border-bottom" title="Solving Complains" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Solving Complains" >
                      <img class="bi me-2" style= "" width="30" height="30" src="/assets/img/dissatisfaction.png" alt="#">
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="/advisingUnit/registerStudents" class="nav-link py-3 border-bottom" title="register Students" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="register Students" >
                        <img class="bi me-2" style= "" width="30" height="30" src="/assets/img/addStudent.png" alt="#">
                      </a>
                  </li>
                  <li class="nav-item">
                    <a href="/advisingUnit/registerAdvisors" class="nav-link py-3 border-bottom" title="register Advisors" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="register Advisors" >
                      <img class="bi me-2" style= "" width="30" height="30" src="/assets/img/discussion.png" alt="#">
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/advisingUnit/assign" class="nav-link py-3 border-bottom" title="assign students to advisors" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="assign students to advisors" >
                      <img class="bi me-2" style= "" width="30" height="30" src="/assets/img/assign students to advisors.png" alt="#">
                    </a>
                  </li>
                    <li class="nav-item">
                        <a href="/advisingUnit/manageSemesters" class="nav-link py-3 border-bottom" title="Manage Semesters" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Manage Semesters" >
                            <img class="bi me-2" style= "" width="30" height="30" src="/assets/img/assign students to advisors.png" alt="#">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/advisingUnit/manageMajors" class="nav-link py-3 border-bottom" title="Manage Majors" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Manage Semesters" >
                            <img class="bi me-2" style= "" width="30" height="30" src="/assets/img/assign students to advisors.png" alt="#">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link py-3 border-bottom"  class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle"
                           title="Courses" id="dropdownUser3" data-bs-toggle="dropdown" aria-expanded="false"
                           data-bs-placement="right" data-bs-original-title="Courses">
                            <img class="bi me-2" style= "" width="30" height="30" src="/assets/img/dissatisfaction.png" alt="#">
                        </a>
                        <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser3">
                            <li><a class="dropdown-item" href="/advisingUnit/addCourses"><span class="trn">Add Courses</span></a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/advisingUnit/showCourses"><span class="trn">Show Courses</span></a></li>
                        </ul>
                    </li>

                </ul>
                <hr>
                    <div class="dropdown">
                      <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="/assets/img/profile.png" alt="*" class="rounded-circle me-2" width="32" height="32">
                        </a>
                      <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                        <li><a class="dropdown-item" id="translateBtn" onclick="toggleLang()" ><span class="trn">عربي</span></a></li>
                              <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" onclick="logout()"><span class="trn">Sign out</span></a></li>
                      </ul>
                    </div>
                </div>

            </div>

               <div id="sidebarlong" style="display: none; ">
              <nav class="navigation">
                {{!-- <div class="toggle-bar">
                  <button type="button" id="toggle-btn" class="toggle-btn btn dn">
                    <!-- need to review how to embed SVG image -->
                    <img src="/assets/img/toggle-btn-26.svg" alt="toggle btn" />
                  </button>
                </div> --}}
                <div class="">
                  {{!-- <button id="OpenSidebar" class="openbtn" onclick="openNav()">&#9776; Open Sidebar</button> --}}
                  {{!-- <div class="brown-img"> --}}
                    {{!-- <button type="button" class="btn">
                      <img src="/assets/img/close-button.svg" height="20px" class="close-nav" alt="close navigation button" />
                    </button> --}}
                  {{!-- </div> --}}

                  <div  class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;hight: 100%;">
                    <span class="fs-4">
                    <a href="javascript:void(0)" id="closebtnforsidebar" onclick="closeNav()" class="nav-link link-dark ">  <img class="bi me-2" href="javascript:void(0)"   style= "" width="50" height="50" src="/assets/img/cancel.png" alt="#"></span>
                    </a>     
                    <hr class="dropdown-divider">
                    <ul class="nav nav-pills flex-column mb-auto">
                      <li class="nav-item">
                          <a href="/advisingUnit" class="nav-link link-dark " >
                          <img class="bi me-2" style= "" width="20" height="20" src="/assets/img/home.png" alt="#">
                            <span class="trn">Home</span>
                        </a>
                        </li>
                        <li class="nav-item">
                          <a href="/advisingUnit/collageStudents" class="nav-link link-dark " >
                            <img class="bi me-2" style= "" width="20" height="20" src="/assets/img/students.png" alt="#">
                            <span class="trn">collage students</span>
                          </a>
                        </li>
                        <li class="nav-item">
                          <a href="/advisingUnit/resolveExcuses" class="nav-link link-dark " >
                            <img class="bi me-2" style= "" width="20" height="20" src="/assets/img/argument.png" alt="#">
                            <span class="trn">resolve excuses</span>
                          </a>
                        </li>
                        <li class="nav-item">
                          <a href="/advisingUnit/SolvingComplains" class="nav-link link-dark">
                            <img class="bi me-2" style= "" width="20" height="20" src="/assets/img/dissatisfaction.png" alt="#">
                            <span class="trn">resolve Complaint</span>
                          </a>
                        </li>
                        <li class="nav-item">
                          <a href="/advisingUnit/registerStudents" class="nav-link link-dark">
                            <img class="bi me-2" style= "" width="20" height="20" src="/assets/img/addStudent.png" alt="#">
                            <span class="trn">register students</span>
                          </a>
                        </li>
                        <li class="nav-item">
                          <a href="/advisingUnit/registerAdvisors" class="nav-link link-dark">
                            <img class="bi me-2" style= "" width="20" height="20" src="/assets/img/discussion.png" alt="#">
                            <span class="trn">register advisors</span>
                          </a>
                        </li>
                        <li class="nav-item">
                        <a href="/advisingUnit/assign" class="nav-link link-dark">
                          <img class="bi me-2" style= "" width="20" height="20" src="/assets/img/assign students to advisors.png" alt="#">
                          <span class="trn">assign students to advisors</span>
                        </a>
                      </li>
                        <li class="nav-item">
                            <a href="/advisingUnit/manageSemesters" class="nav-link link-dark">
                                <img class="bi me-2" style= "" width="20" height="20" src="/assets/img/assign students to advisors.png" alt="#">
                                <span class="trn">Manage Semesters</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/advisingUnit/manageMajors" class="nav-link link-dark">
                                <img class="bi me-2" style= "" width="20" height="20" src="/assets/img/assign students to advisors.png" alt="#">
                                <span class="trn">Manage Majors</span>
                            </a>
                        </li>
                        <li class="nav-item">
                        <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="coursesDropdown"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <img class="bi me-2" style= "" width="20" height="20" src="/assets/img/argument.png" alt="#">
                            <span style="padding: 5px;" class="trn" >Courses Management </span>
                        </a>
                        <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                            <li><a class="dropdown-item" href="/advisingUnit/showCourses"><span class="trn">Add Courses</span></a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/advisingUnit/showCourses"><span class="trn">Show Courses</span></a></li>
                        </ul>
                    </li>
                    </ul>

                    <hr>
                    <div class="dropdown">
                      <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="/assets/img/profile.png" alt="" class="rounded-circle me-2" width="32" height="32">
                        <strong>{{userName}}</strong>
                      </a>
                        <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                          <li><a class="dropdown-item" id="translateBtn" onclick="toggleLang()" ><span class="trn">عربي</span></a></li>
                                <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" onclick="logout()"><span class="trn">Sign out</span></a></li>
                      </ul>
                    </div>
                </div>
                </div>
              </nav>
               </div>
               {{{body}}}
      </div>

            {{!-- <div class="nav-links">
              <ul>
                <li onclick="location.href='/student/studentProfile';" >
                    <span class="trn">personal file</span>
                </li>
                <li onclick="location.href='/student/contactAdvisor';">
                    <span class="trn">contact my advisor</span>
                </li>
                <li onclick="location.href='/student/studentMessages';">
                    <span class="trn">my messages</span>
                </li>
                <li onclick="location.href='/student/bookAnAppointment';">
                    <span class="trn">book an appointment with advisor</span>
                </li>
                <li onclick="location.href='/student/updateMarks';">
                    <span class="trn">update marks</span>
                </li>

                <li onclick="location.href='/student/updateAbsence';">
                    <span class="trn">update absence percentage</span>
                </li>
                <li onclick="location.href='/student/newComplaint';">

                   <span class="trn">issue a complaint to academic advising unit</span>
                    <!--                    must add follow up -->
                </li>
                  <li  onclick="$('#excusesDropDownMenu').toggle()">
                      <span  class="trn" >Excuses</span>
                      <span>
                          <i class="arrow down"></i>
                      </span>
                          <ul style="background: #1e506c" class="" id="excusesDropDownMenu" aria-labelledby="dropdownMenuLink" >
                              <li class="cusDropDownItem" onclick="location.href='/student/newAbsenceExcuse'" ><span class="trn">Submit Absence Excuse</span></li>
                              <li class="cusDropDownItem" onclick="location.href='/student/newExamExcuse'" ><span class="trn">Submit Make-up Exam Excuse</span></li>
                              <li class="cusDropDownItem" onclick="location.href='/student/showExcuses'" > <span class="trn">Show Submitted Excuses Status</span></li>
                          </ul>
                  </li>
              </ul>
            </div> --}}
          {{!-- </div>
        </nav> --}}

        {{!-- all the code from under here should change --}}

        

        {{!-- until here should we change the things --}}
      </div>

      {{!-- The footer should be once in all pages --}}

      <!-- /footer  -->
      {{> footer }}
      <!-- /footer  -->

    </div>

    <!-- scripts at the bottom to reduce load time -->
    {{> pageScripts}}
    {{!-- ====================================================== --}}
  </body>

  <script>
    let w = window.innerWidth;
    
    function openNav() {
      console.log("open my love")
      document.getElementById("sidebarlong").style.display = "block";
      document.getElementById("sidebarshort").style.display = "none";
      if(w<900){
        document.getElementById("main-content").style.display = "none";  
      }
        
    }

    /* Set the width of the sidebar to 0 and the left margin of the page content to 0 */
    function closeNav() {
      console.log("close my love")
        document.getElementById("sidebarlong").style.display = "none";
        document.getElementById("sidebarshort").style.display = "block";
         if(w<900){
        document.getElementById("main-content").style.display = "block";  
      }
      
    }
      
  </script>


</html>
