<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
  <!-- head start  -->

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>المرشد الأكاديمي</title>
  <link href="/assets/css/general.css" rel="stylesheet" />

  {{> externalLibraries}}
    
  <!-- head end  -->
</head>

<body>
  {{!-- ====================================================== --}}

  <div class="app">
    <!-- header  -->
    {{> header }}
    <!-- /header  -->
    <div class="content-container">

      <nav class="navigation">
        <div class="toggle-bar">
          <button type="button" id="toggle-btn" class="toggle-btn btn dn">
            <!-- need to review how to embed SVG image -->
            <img src="/assets/img/toggle-btn-26.svg" alt="toggle btn" />
          </button>
        </div>
        <div class="nav-body">
          <div class="brown-img">
            <button type="button" class="btn">
              <img src="/assets/img/close-button.svg" height="20px" class="close-nav" alt="close navigation button" />
            </button>
          </div>
          <div class="nav-links">
            <ul>
              <li>
                <a href="/advisor/personalProfile"><span class="trn">personal profile</span></a>
              </li>
              <li>
                <a href="/advisor/myStudents"><span class="trn">my students</span></a>
              </li>
              <li>
                <a href="/advisor/requestReports"><span class="trn">request reports from students</span></a>
              </li>
<!--                persentage absence report-->
<!--              <li>-->
<!--                <a href="#"><span class="trn">request marks and results report</span></a>-->
<!--              </li>-->
              <li>
                <a href="/advisor/officeHours"><span class="trn">update Office Hours</span></a>
              </li>
              <li>
                <a href="/advisor/appointments"><span class="trn">mange appointments</span></a>
              </li>
              <li>
                <a href="/advisor/messageStudents"><span class="trn">message students</span></a>
              </li>
              <li>
                <a href="/advisor/findMessage"><span class="trn">search for a message</span></a>
              </li>
              <li>
                <a href="/advisor/issueComplaint"><span class="trn">issue a complaint to academic advising unit</span></a>
              </li> 
              <li>
                <a href="/advisor/resolveExcuses"><span class="trn">resolve Excuses</span></a>
              </li> 
            </ul>
          </div>
        </div>
      </nav>

      {{!-- all the code from under here should change --}}

        {{{body}}}

      {{!-- until here should we change the things --}}

    </div>

    {{!-- The footer should be once in all pages --}}
    
    <!-- /footer  -->
      {{> footer }}
    <!-- /footer  -->

  </div>

  <!-- scripts at the bottom to reduce load time -->
  {{> pageScripts}}
 

  {{!-- ====================================================== --}}
</body>

</html>