<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
  <!-- head start  -->

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>عميد الكلية ونائبه</title>
  <link href="/assets/css/general.css" rel="stylesheet" />

  {{> externalLibraries}}
    
  <!-- head end  -->
</head>

<body>
  {{!-- ====================================================== --}}

  <div class="app">
    <!-- header  -->
    {{> header }}
    <!-- /header  -->

    <div class="content-container">
      
      <nav class="navigation">
        <div class="toggle-bar">
          <button type="button" id="toggle-btn" class="toggle-btn btn dn">
            <!-- need to review how to embed SVG image -->
            <img src="/assets/img/toggle-btn-26.svg" alt="toggle btn" />
          </button>
        </div>
        <div class="nav-body">
          <div class="brown-img">
            <button type="button" class="btn">
              <img src="/assets/img/close-button.svg" height="20px" class="close-nav" alt="close navigation button" />
            </button>
          </div>
          <div class="nav-links">
            <ul>
              <li>
                <a href="/dean/resolvedExcuses"><span class="trn">resolved excuses</span></a>
              </li>
              <li>
                <a href="/dean/pendingExcuses"><span class="trn">pending students excuses</span></a>
              </li>
              <li>
                <a href="/dean/complaints"><span class="trn">complaints</span></a>
              </li>
<!--              <li>-->
<!--                <a href="#"><span class="trn">resolve problems between students and advisors</span></a>-->
<!--              </li>-->
              <li>
                <a href="/dean/registeredStudents"><span class="trn">registered collage students</span></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      {{!-- all the code from under here should change --}}

        {{{body}}}

      {{!-- until here should we change the things --}}
      
    </div>

    {{!-- The footer should be once in all pages --}}
    
    <!-- /footer  -->
      {{> footer }}
    <!-- /footer  -->

  </div>

  <!-- scripts at the bottom to reduce load time -->
  {{> pageScripts}}

  {{!-- ====================================================== --}}
</body>

</html>