<!DOCTYPE html>
<html lang="ar" dir="rtl">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>اللوحة الأساسية</title>
    <link href="/assets/css/login.css" rel="stylesheet" />
  </head>

  <body>
    {{{body}}}

    <script>
      {{!-- set the language of the user --}}
      localStorage.setItem('lang','ar','365')
    </script>
  </body>
</html>