<!DOCTYPE html>
<html lang="ar" dir="rtl">

  <head>
    <!-- head start  -->

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>الطالب</title>
    <link href="/assets/css/general.css" rel="stylesheet" />

    {{> externalLibraries}}
    
    <!-- head end  -->
  </head>
<style>
    .cusDropDownItem{
        color: inherit;
        text-decoration: inherit;
        width: 100%;

    }
    .arrow {
        border: solid white;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
    }
    .down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
</style>


  <body>
    {{!-- ====================================================== --}}

    <div class="app">
      <!-- header  -->
      {{> header }}
      <!-- /header  -->

      <div class="content-container">

        <nav class="navigation">
          {{!-- <div class="toggle-bar">
            <button type="button" id="toggle-btn" class="toggle-btn btn dn">
              <!-- need to review how to embed SVG image -->
              <img src="/assets/img/toggle-btn-26.svg" alt="toggle btn" />
            </button>
          </div> --}}
          <div class="nav-body">
            <div class="brown-img">
              {{!-- <button type="button" class="btn">
                <img src="/assets/img/close-button.svg" height="20px" class="close-nav" alt="close navigation button" />
              </button> --}}
            </div>
            <div class="nav-links">
              <ul>
                <li onclick="location.href='/student/studentProfile';" >
                    <span class="trn">personal file</span>
                </li>
                <li onclick="location.href='/student/contactAdvisor';">
                    <span class="trn">contact my advisor</span>
                </li>
                <li onclick="location.href='/student/studentMessages';">
                    <span class="trn">my messages</span>
                </li>
                <li onclick="location.href='/student/bookAnAppointment';">
                    <span class="trn">book an appointment with advisor</span>
                </li>
                <li onclick="location.href='/student/updateMarks';">
                    <span class="trn">update marks</span>
                </li>

                <li onclick="location.href='/student/updateAbsence';">
                    <span class="trn">update absence percentage</span>
                </li>
                <li onclick="location.href='/student/newComplaint';">

                   <span class="trn">issue a complaint to academic advising unit</span>
                    <!--                    must add follow up -->
                </li>
                  <li  onclick="$('#excusesDropDownMenu').toggle()">
                      <span  class="trn" >Excuses</span>
                      <span>
                          <i class="arrow down"></i>
                      </span>
                          <ul style="background: #1e506c" class="" id="excusesDropDownMenu" aria-labelledby="dropdownMenuLink" >
                              <li class="cusDropDownItem" onclick="location.href='/student/newAbsenceExcuse'" ><span class="trn">Submit Absence Excuse</span></li>
                              <li class="cusDropDownItem" onclick="location.href='/student/newExamExcuse'" ><span class="trn">Submit Make-up Exam Excuse</span></li>
                              <li class="cusDropDownItem" onclick="location.href='/student/showExcuses'" > <span class="trn">Show Submitted Excuses Status</span></li>
                          </ul>
                  </li>
              </ul>
            </div>
          </div>
        </nav>

        {{!-- all the code from under here should change --}}

        {{{body}}}

        {{!-- until here should we change the things --}}
      </div>

      {{!-- The footer should be once in all pages --}}

      <!-- /footer  -->
      {{> footer }}
      <!-- /footer  -->

    </div>

    <!-- scripts at the bottom to reduce load time -->
    {{> pageScripts}}
    {{!-- ====================================================== --}}
  </body>

<script>
    $(document).ready( ()=>{
        $('#excusesDropDownMenu').hide();
    })
</script>

</html>
