<main class="main-content">
    <div class="content">
        <div class="body-header">
            <header>
                <h1><span class="trn">Message Students</span></h1>
            </header>
            <hr>
        </div>
        <div class="body-content">
            <ul>

            </ul>
        </div>
    </div>
</main>