<div class="main-content" name="main-content" id="main-content">
    <div class="content">
        <div class="body-header">
            <header>
                <h1><span class="trn">Issue a new Complaint</span></h1>
            </header>
            <hr>
        </div>
        <div class="body-content">
                    <form method="post"  id="compl" action="/advisor/compl"  enctype="multipart/form-data">
                        <fieldset>
                           <div class="student-profile py-4">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card shadow-sm">
                                <div class="card-header bg-transparent border-0">
                                    <h3 class="mb-0"><i class="far fa-clone pr-1"></i> advisor Information</h3>
                                </div>
                                <div class="card-body pt-0">
                                    <span style="color: red"> {{errorMsg}} </span>

                                        <table class="table table-bordered">
                                            <tr>
                                                <th>Name</th>
                                                <td>   <input class="form-control" name="stuName" id="stuName" value="{{advname}}" disabled></td>
                                            </tr>
                                            <tr>
                                                <th>ID</th>
                                                <td>   <input class="form-control" name="stuId" id="stuId" value="{{advid}}" disabled></td>
                                            </tr>
      
                                            <tr>
                                                <th><span> Email </span></th>
                                                <td>   <input class="form-control" name="stuMajor" id="stuMajor" value="{{adviemail}}" disabled></td>
                                            </tr>


                                            
                                        </table>
                        </fieldset>
                        <fieldset>
                            {{!-- disComp = Discribe your Complaint  --}}
                            <legend>Discribe your Complaint and/or appeal case</legend>
                            <textarea name="DisComp" id="DisComp" class="takedatafromstu"></textarea>
                        </fieldset>
                        <fieldset>
                            <legend>provid supporting documents</legend>
                            <input type="file" id="file" name="file">
                        </fieldset>
                        <br>
                
                <input type="submit" id="submit">
            </form>           
        </div>
    </div>
</main>