<main class="main-content">
    <div class="content">
        <div class="body-header">
            <header>
                <h1>صفحة عميد الكلية ونائبه</h1>
            </header>
            <hr>
        </div>
        <div class="body-content">
            <ul>
               
            </ul>
        </div>
    </div>
</main>

<aside class="aside-container">
    <div class="aside-content"></div>
</aside>