    <div class="app">
      <div class="container center">
        <div>
          <h2>الرجاء تغيير كلمة السر</h2>
        </div>
        {{!-- demo route --}}
        <form action="/updatePassword" method="post" id="updateForm">
            {{#if errMsg}}
              {{!-- if we have en error --}}
              <span id="errorMsg" class="error">{{errMsg}}</span>
            {{else}}
              {{!-- if we do not have an error --}}
              <span id="errorMsg" class="error"></span>
              
            {{/if}}
          <div>
            <input
              type="password"
              id="newPassword"
              name="newPass"
              oninput="checkPassword(event)"
              placeholder="كلمة السر الجديدة"
              autofocus
              required
            />
          </div>

          

          <div class="btn-container">
            <button type="submit" id="updatePassBtn" class="btn">تأكيد</button>
          </div>

        </form>
      </div>
    </div>
    <script>
      document.getElementById('updatePassBtn').disabled = true; 

      function checkPassword(event){

        let errorMsg = document.getElementById('errorMsg');
        let newPass = document.getElementById('newPassword');
        let submitBtn = document.getElementById('updatePassBtn');

        if(/[0-9a-zA-Z]{8,}/i.test(event.target.value)){
          // if
          submitBtn.disabled = false;
          errorMsg.innerText = '';


        } else {
          submitBtn.disabled = true ;
          setTimeout(()=> {
            errorMsg.innerText = 'الرجاء استخدام كلمة سر من 8 أحرف فأكثر'
          },100)
        }
      }
      function submitUpdate(){
        let form = document.getElementById('updateForm');

        form.onsubmit = (e) => {
          e.preventDefault();

          $.ajax({
            method: 'put',
            data: {newPassword: newPass.value}
          })
          .done((updatedPassword) => {

          })
          .fail(() => {

          })
        }
      }
    </script>
    <script src="/assets/scripts/loginPage.js"></script>