    <div class="app">
      <div class="container center">
        <div>
          <h2>صفحة الدخول إلى الإرشاد الأكاديمي</h2>
        </div>
        {{!-- demo route --}}
        <form action="/login" method="POST" id="register">
            {{#if err}}
              {{!-- if we have en error --}}
              <span id="errorMsg" class="error">{{errMsg}}</span>
            {{else}}
              {{!-- if we do not have an error --}}
              
            {{/if}}
          <div>
            <input
              type="text"
              id="universityID"
              name="universityID"
              onkeypress="return /[0-9]/i.test(event.key)"
              placeholder="الرقم الجامعي "
              autofocus
              required
            />
          </div>

          <div>
            <input
              type="password"
              id="password"
              name="password"
              placeholder="كلمة السر"
              required
            />
          </div>

          <div class="btn-container">
            <button type="submit" class="btn">دخول</button>
          </div>

          <div>
            <span class="helper">
              <a href="#">نسيت كلمة المرور؟</a>
            </span>
          </div>
          
        </form>
      </div>
    </div>
    <script src="/assets/scripts/loginPage.js"></script>