<footer class="footer-container">
    <div class="footer-content"></div>

    <p>Made with LOVE ❤ by IU Students</p>
    <p>Abdallah Abu El Soud, Abdullah Baslamah, Abdulkader Al Bai</p>
    <p>Supervised by :</p>
    <p>Dr.Muhammad Shoaihb Siddiqui</p>
</footer>