<header class="app-header">
    <div class="header-content">
        <div class="image1">
                <button onclick="logout()"><img height="50px" src="/assets/img/sign-out-alt-solid.svg" height="50px" alt="" /> </button>           
        </div>
        <div class="main-image">
            <img src="/assets/img/iu_name.svg" height="50px" alt="iu name" />
        </div>
        <div class="image2">
            <button type="button" id="translateBtn" onclick="translateLanguage()"><span class="trn">en</button>
            <button type="button" class="btn">
                <img src="/assets/img/Acadimic-advising-unit-logo.png" height="55" alt="islamic university logo" />
            </button>
        </div>
    </div>
</header>