<div class="main-content">
    <div class="content">
        <div class="body-header">
            <header>
                <h1><span class="trn">Contact Advisor</span></h1>
            </header>
            <hr>
        </div>
        <div class="body-content">
            <form method="post"  id="msgcontaint" action="/student/hm">
                 <h5  dir="ltr">The topic : <input class="titelMsg" name="Titelmsg" id="Titelmsg" type="text" required> </h5> 
                  <h5 dir="ltr">The message :</h5> <textarea class="Msg" name="massegContent" id="massegContent" type="text" required></textarea> 
                  <button type="submit" class="submetbtn" >send</button>
                 </form>
        </div>
    </div>
</div>