
<div class="main-content">
    <div class="content">
        <div class="body-header">
            <header>
                <h1><span class="trn">Update Marks</span></h1>
            </header>
            <hr>
        </div>
        <div class="body-content">
            <fieldset>
                <legend> Student Info </legend>
                <div id="stuInfo" style="text-align: ;">
                    <p>Name : abdallah hasan abu elsoud</p>
                    <p>ID : 372029223</p>
                    <p>Level : 10</p>
                    <p>Major : CS</p>
                {{!-- <h5>Name :</h5><P>abdallah hasan abu els soud</P>
                <div><h5>ID : </h5 ><p>372029223</p>
                <h5>Level : </h5><p>10</p>
                <h5>Major : </h5><p>CS</p> --}}
                </div>
            </fieldset>
            <br>
            <fieldset>
                <legend> courses </legend>
            <table>
                <tr>
                    <th>code</th>
                    <th>course Name</th>
                    <th>Med Term Marks</th>
                    <th>Other Marks</th>
                    <th>% of Abcences</th>
                </tr>
                <tr>
                   <td><input type="text" class="code"></td>
                   <td><input type="text" class="code"></td>
                   <td><input type="text" class="code"></td>
                   <td><input type="text" class="code"></td>
                   <td><input type="text" class="code"></td>
                </tr>
                <tr>
                    <td><input type="text" class="code"></td>
                    <td><input type="text" class="code"></td>
                    <td><input type="text" class="code"></td>
                    <td><input type="text" class="code"></td>
                    <td><input type="text" class="code"></td>
                </tr>
                   <tr>
                    <td><input type="text" class="code"></td>
                    <td><input type="text" class="code"></td>
                    <td><input type="text" class="code"></td>
                    <td><input type="text" class="code"></td>
                    <td><input type="text" class="code"></td>
                </tr>
                   <tr>
                    <td><input type="text" class="code"></td>
                    <td><input type="text" class="code"></td>
                    <td><input type="text" class="code"></td>
                    <td><input type="text" class="code"></td>
                    <td><input type="text" class="code"></td>
                </tr>
                   <tr>
                    <td><input type="text" class="code"></td>
                    <td><input type="text" class="code"></td>
                    <td><input type="text" class="code"></td>
                    <td><input type="text" class="code"></td>
                    <td><input type="text" class="code"></td>
                </tr>
                   <tr>
                    <td><input type="text" class="code"></td>
                    <td><input type="text" class="code"></td>
                    <td><input type="text" class="code"></td>
                    <td><input type="text" class="code"></td>
                    <td><input type="text" class="code"></td>
                </tr>
             </table>
             </fieldset>
             <fieldset>
                 <legend>suggested improvment (from advisor)</legend>
                 <textarea readonly class="takedata"></textarea>
             </fieldset>
             <fieldset>
               <legend>comments about the report and improvment</legend>
                 <textarea  class="takedatafromstu"></textarea>
             </fieldset>

        </div>
    </div>
</div>                  