<div class="main-content" name="main-content" id="main-content">
    <div class="content">
        <div class="body-header">
            <header>
                <h1><span class="trn">Update Absence Percentage</span></h1>
            </header>
            <hr>
        </div>
        <div class="body-content">

        </div>
    </div>
</div>

