
<div class="main-content">
    <div class="content">
        <div class="body-header">
            <header>
                <h1><span class="trn">issue a new Complaint</span></h1>
            </header>
            <hr>
        </div>
        <div class="body-content">
            <form method="post"  id="compl" action="/student/compl">
                        <fieldset>
                            <legend> Student Info </legend>
                            <div id="stuInfo" style="text-align: ;">
                                <p>Name : {{stuname}}</p>
                                <p>ID : {{stuid}}</p>
                                <p>Major : {{stumajor}}</p>
                                <p>Advisor : {{stuadvisor}}</p>
                            </div>
                        </fieldset>
                        <fieldset>
                            {{!-- disComp = Discribe your Complaint  --}}
                            <legend>Discribe your Complaint and/or appeal case</legend>
                            <textarea name="DisComp" id="DisComp" class="takedatafromstu"></textarea>
                        </fieldset>
                        <fieldset>
                            <legend>provid supporting documents</legend>
                            <input type="file" id="avidFile" name="avidFile">
                        </fieldset>
                        <br>
                
                <input type="submit" id="submit">
            </form>

        </div>
    </div>
</div>

