<div class="main-content">
    <div class="content">
        <div class="body-header">
            <header>
                <h1><span class="trn">Student Page</span></h1>
            </header>
            <hr>
        </div>
        <div class="body-content">
    
        </div>
    </div>
</div>